<!-- item -->
<div data-src="/assets/img/blinds/blinds1.jpg" data-name="pinoleum-blinds" data-sub-html=".caption1">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/blinds/blinds1.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption1" hidden>
        <h3 class="uk-light rmcc-white-text">Pinoleum Blinds in a Timber Conservatorys</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Pinoleum Blinds in a Timber Conservatory</h3>
      <p class="uk-text-meta uk-margin-remove-top">Co. Dublin</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->

<!-- item -->
<div data-src="/assets/img/blinds/blinds2.jpg" data-name="electric-blinds"data-sub-html=".caption2">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/blinds/blinds2.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption2" hidden>
        <h3 class="uk-light rmcc-white-text">Electric Blinds Installation</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Electric Blinds Installation</h3>
      <p class="uk-text-meta uk-margin-remove-top">Mullingar, Westmeath</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->

<!-- item -->
<div data-src="/assets/img/blinds/blinds3.jpg" data-name="day-night-blinds" data-sub-html=".caption3">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/blinds/blinds3.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption3" hidden>
        <h3 class="uk-light rmcc-white-text">Day & Night Blinds</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Day & Night Blinds</h3>
      <p class="uk-text-meta uk-margin-remove-top">Athlone, Westmeath</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->

<!-- item -->
<div data-src="/assets/img/blinds/blinds4.jpg" data-name="conservatory-blinds-summer" data-sub-html=".caption3">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/blinds/blinds4.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption3" hidden>
        <h3 class="uk-light rmcc-white-text">Conservatory Blinds in Summer</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Conservatory Blinds in Summer</h3>
      <p class="uk-text-meta uk-margin-remove-top">Tullamore, Offaly</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->

<!-- item -->
<div data-src="/assets/img/blinds/blinds6.jpg" data-name="conservatory-blinds-winter" data-sub-html=".caption1">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/blinds/blinds18.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption1" hidden>
        <h3 class="uk-light rmcc-white-text">Conservatory Blinds in the Winter</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Conservatory Blinds in the Winter</h3>
      <p class="uk-text-meta uk-margin-remove-top">Leixlip, Kildare</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->

<!-- item -->
<div data-src="/assets/img/blinds/blinds7.jpg" data-name="pleated-blinds" data-sub-html=".caption2">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/blinds/blinds11.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption2" hidden>
        <h3 class="uk-light rmcc-white-text">Pleated Blinds at Night</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Pleated Blinds at Night</h3>
      <p class="uk-text-meta uk-margin-remove-top">Ashtown, Co. Dublin</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->

<!-- item -->
<div data-src="/assets/img/curtains/curtains3.jpg" data-name="bedroom-luxury-curtains" data-sub-html=".caption3">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/curtains/curtains3.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption3" hidden>
        <h3 class="uk-light rmcc-white-text">Bedroom Luxury Curtains</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Bedroom Luxury Curtains</h3>
      <p class="uk-text-meta uk-margin-remove-top">Dublin 4, Co. Dublin</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->

<!-- item -->
<div data-src="/assets/img/shutters/shutters4.jpg" data-name="kicthen-shutters" data-sub-html=".caption3">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <div class="uk-inline-clip uk-transition-toggle uk-light">
        <a>
        <img class="rmcc-object-fit" src="/assets/img/shutters/shutters4.jpg">
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
          <div data-uk-margin class="uk-transition-slide-bottom-small">
            <span data-uk-icon="icon: search; ratio: 1.3"></span>
          </div>
        </div>
        </a>
      </div>
      <div class="caption3" hidden>
        <h3 class="uk-light rmcc-white-text">Kitchen Shutters in Summer</h3>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <p class="uk-margin-top"><a class="uk-button uk-button-primary" href="#">View the Case Study</a></p>
      </div>

    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Kitchen Shutters in Summer</h3>
      <p class="uk-text-meta uk-margin-remove-top">Mullingar, Westmeath</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<!-- item -->