<div id="ProductHeader" class="" uk-grid>

  <section id="ProductBreadsBlock" class="uk-width-1-2@s">
    <div class="rmcc-padding-top10">
      <a href="#" class="uk-text-bold">Home</a><span class="uk-margin-small-left uk-margin-small-right" uk-icon="chevron-right"></span><a href="/archive" class="uk-text-bold">Blinds</a><span class="uk-margin-small-left uk-margin-small-right" uk-icon="chevron-right"></span><span>This is the Single Product Layout</span>
    </div>
  </section>

  <section id="ProductCTABlock" class="uk-width-1-2@s uk-text-right uk-visible@s">
    <button class="uk-button uk-button-primary" href="#ModalFullSplit" uk-toggle>Enquire about this Product<span class="uk-margin-small-left" uk-icon="mail"></span></button>
  </section>

  <!-- <section id="ProductTitleBlock" class="uk-width-1-1 uk-margin-small-top">
    <h2>{{ SiteTitle }} Product</h2>
  </section> -->

</div>