<section class="uk-width-1-1@s ">
  <div class="uk-card uk-card-default uk-padding-remove uk-card-body">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9487.7000699798!2d-7.34554011719704!3d53.52339599937663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1564677507723!5m2!1sen!2sie" width="1500" height="400" frameborder="0" style="border:0" allowfullscreen uk-responsive></iframe>
  </div>
</section>