{% extends "base.twig" %}

{% block html_header %}

{% include 'html-head-lg.twig' %}

{% endblock %}

{% block content %}

{% include 'curtains-cover.twig' %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" data-uk-lightbox="toggle:a.uk-position-cover">
  
  {% include 'box-pleat.twig' %}
  
  {% include 'eyelet.twig' %}
  
  {% include 'pinch-pleat.twig' %}
  
  {% include 'sheer.twig' %}
  
  {% include 'tailored.twig' %}
  
  {% include 'colours-fabrics.twig' %}
  
  {% include 'free-quotation.twig' %}
  
  {% include 'reviews.twig' %}
  
</main>
<!-- /MAIN CONTENT -->

{% endblock %}