<!-- HERO -->
<div class="uk-section uk-section-small uk-background-center-center uk-position-relative uk-background-cover uk-light uk-background-fixed purple-wrap-blur" style="background-image: url(/assets/img/blinds-chairs.jpg);">
  <div class="uk-position-z-index uk-position-relative uk-container uk-text-center">
    <h1 class="uk-h1 uk-text-uppercase">Curtains</h1>
    
    <hr class="uk-divider-small">

    <p class="uk-text-lead uk-margin-medium-bottom">We are experts in curtain fabrics and carry high quality ready made and made to measure curtains. We stock the very latest curtain fabrics as well as classic designs.</p>
    <script type="text/javascript">
      

      
      jQuery(document).ready(function() {
        jQuery('#lightGallery').lightGallery();
        thumbnail:true;
        subHtmlSelectorRelative: true;
        jQuery('#launchGallery').click(function(){
            jQuery('#firstImage').trigger('click');
        })
      });
      
      
    </script>
    
    <button id="launchGallery" type="button" class="uk-button uk-button-primary uk-button-large uk-margin-medium-bottom">View Gallery</button>
    

    <div id="lightGallery" hidden>
      <a id="firstImage" href="assets\img\curtains\curtains1.jpg" data-sub-html=".caption1">
        <img src="assets\img\curtains\curtains1.jpg" />
        <div class="caption1">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Box Pleat Curtains</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\curtains\curtains2.jpg" data-sub-html=".caption2">
        <img src="assets\img\curtains\curtains2.jpg" />
        <div class="caption2">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Eyelet Curtains</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\curtains\curtains3.jpg" data-sub-html=".caption3">
        <img src="assets\img\curtains\curtains3.jpg" />
        <div class="caption3">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Pinch Pleat Curtains</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\curtains\curtains4.jpg" data-sub-html=".caption4">
        <img src="assets\img\curtains\curtains4.jpg" />
        <div class="caption4">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Sheer Curtains</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\curtains\curtains5.jpg" data-sub-html=".caption5">
        <img src="assets\img\curtains\curtains5.jpg" />
        <div class="caption5">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Tailored Pleat Curtains</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
    </div>
    
  </div>
  <div class="uk-position-z-index uk-container uk-position-bottom-center uk-margin-small-bottom uk-visible@m">
    <ul class="uk-subnav uk-subnav-divider" uk-margin>
        <li><a href="#BoxPleatCurtains" class="uk-text-uppercase" uk-scroll="offset:200">Box Pleat Curtains</a></li>
        <li><a href="#EyeletCurtains" class="uk-text-uppercase" uk-scroll="offset:200">Eyelet Curtains</a></li>
        <li><a href="#PinchPleatCurtains" class="uk-text-uppercase" uk-scroll="offset:200">Pinch Pleat Curtains</a></li>
        <li><a href="#SheerCurtains" class="uk-text-uppercase" uk-scroll="offset:200">Sheer Curtains</a></li>
        <li><a href="#TailoredPleatCurtains" class="uk-text-uppercase" uk-scroll="offset:200">Tailored Pleat Curtains</a></li>
    </ul>
  </div>
</div>
<!-- /HERO -->