{% extends "base.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-muted">
  <div class="uk-container uk-container-large">
    <div uk-grid>
      
      <div id="" class="uk-width-3-4@s">
        <h1 class="uk-article-title uk-text-uppercase">{{ title }}</h1>
        
        {% for post in posts %}
        {% include 'tease.twig' %}
        {% endfor %}

        {% if post in posts %}
        {% include 'pagination.twig' %}
        {% endif %}

        {% if posts is empty %}
        <p class="uk-text-emphasis">No posts found. Please publish some content via Posts > Add New</p>
        {% endif %}
        
      </div>
      {% include "sidebar.twig" %}
      
    </div>
  </div>
</main>
<!-- /MAIN CONTENT -->

{% endblock %}