<aside id="RightSidebar" class="uk-width-1-4@m right-sidebar-area">
<div class="uk-card uk-card-small uk-card-body uk-card-default">
{%- spaceless -%}
{% if sidebar_right %}
	{{sidebar_right}}
{% else %}
	Sidebar Widget Area.
{% endif %}
{%- endspaceless -%}
</div>
</aside>