<aside id="LeftSidebar" class="uk-width-1-4@m left-sidebar-area">
	
	<div class="uk-card uk-card-small uk-card-body uk-card-default">
		
	{% if sidebar_left %}
		{{sidebar_left}}
	{% else %}
		Sidebar Widget Area.
	{% endif %}
	
	</div>
	
</aside>