{% extends "base.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-xsmall uk-section-muted rmcc-padding-bottom80">
  <div class="uk-container uk-container-large">
    {% include 'breads.twig' %}
    <div uk-grid>
      {% include 'sidebar-left.twig' %}
      <article class="uk-article uk-width-3-4@s">
        <h4>This page or item doesnt exist</h4>
        <p>Sorry, we couldn't find what you're looking for. Trying using the search form below instead.</p>
        {% include 'form-search.twig' %}
      </article>
    </div>
  </div>
</main>
<!-- /MAIN CONTENT -->

{% endblock %}