{% extends "base.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-xsmall uk-section-muted">
  <div id="ArchiveProductsWrap" class="uk-container uk-container-large uk-margin-large-bottom">
    
    {% include 'shop-header.twig' %}

    {% include 'shop-main.twig' %}

  </div>
</main>
<!-- /MAIN CONTENT -->

{% endblock %}