{% extends "base.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-xsmall uk-section-muted rmcc-padding-bottom80">
  <div class="uk-container uk-container-large">
    {% include 'breads.twig' %}
    <div uk-grid>
      
      <div class="uk-width-3-4@s">
        
        <h1 class="uk-article-title">You are here: {{ title }}</h1>
        
        {% for post in posts %}
          {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% endfor %}

        {% if posts > 4 %}
          {% include 'pagination.twig' %}
        {% endif %}

        {% if posts is empty %}
          <p class="uk-text-emphasis">No posts found. Please publish some content via Posts > Add New</p>
        {% endif %}
        
      </div>
      
      {% include "sidebar.twig" %}
      
    </div>
  </div>
</main>
<!-- /MAIN CONTENT -->

{% endblock %}