{% extends "base.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-xsmall uk-section-muted rmcc-padding-bottom80">

  <div class="uk-container uk-container-large">
    {% include 'breads.twig' %}
  <div>
    
  <div class="uk-container uk-container-large">
    <div uk-grid>
      
      <div class="uk-width-3-4@s">
        <h1 class="uk-article-title">{{ title }}</h1>

        <!-- archive grid  -->
        <div class="uk-child-width-1-2@s archive-posts" uk-grid="masonry: true">
        {% for post in posts %}
          {% include ['tease-grid-'~post.post_type~'.twig', 'tease-grid.twig'] %}
        {% endfor %}
        </div>
        <!-- end archive grid -->
        {% if posts > 4 %}
        <div class="uk-section">
          <a class="button uk-button uk-align-center uk-button-large uk-button-default solaris_loadmore uk-width-1-2@s uk-width-1-2@m uk-width-1-5@l">load more</a>
        </div>
        {% endif %}

        {% if posts is empty %}
          <p class="uk-text-emphasis">No posts found. Please publish some content via Posts > Add New</p>
        {% endif %}

      </div>
      
      {% include "sidebar.twig" %}
      
    </div>
  </div>
  
</main>
<!-- /MAIN CONTENT -->

{% endblock %}