<!-- BLOCK3 -->
<div class="uk-section uk-section-muted uk-padding-remove-top">
  <div class="rmcc-content-block-left uk-position-relative">
    <div class="uk-container uk-container-large">
        <div class="uk-child-width-1-2@m uk-flex-middle uk-grid-large" uk-grid>
          <div>
            <div class="uk-position-relative uk-visible-toggle uk-light rmcc-box-shadow-right" tabindex="-1" uk-slider>
            
              <ul class="uk-slider-items uk-child-width-1-2">
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/assets/img/blinds/blinds3.jpg" alt="">
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/assets/img/blinds/blinds6.jpg" alt="">
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/assets/img/blinds/blinds7.jpg" alt="">
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/assets/img/blinds/blinds9.jpg" alt="">
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/assets/img/blinds/blinds12.jpg" alt="">
                      </div>
                  </li>
              </ul>
          
              <a class="uk-position-center-left uk-position-small rmcc-nav-bg uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small rmcc-nav-bg uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
          </div>
          <div class="uk-flex-first@s">
            <div id="PinoleumConservatoryBlinds" class="content uk-position-relative uk-position-z-index">
              <h2 class="uk-text-uppercase"><span>Some other Thing</span></h2>
              <hr class="uk-divider-small">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <button class="uk-button uk-button-primary uk-button-large">Find out more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- /BLOCK3 -->