{% extends "base.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-xsmall uk-section-muted rmcc-padding-bottom30">

  <div id="SingleProductWrap" class="uk-container uk-container-large">
    
    {% include 'contact-header.twig' %}
    
    {% include 'contact-main.twig' %}

  </div>
  
</main>
<!-- /MAIN CONTENT -->

{% endblock %}