<!-- HERO -->
<div class="uk-section uk-section-small uk-background-center-center uk-position-relative uk-background-cover uk-light uk-background-fixed purple-wrap-blur" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/blinds-chairs.jpg);">
  <div class="uk-position-z-index uk-position-relative uk-container uk-text-center">
    <h1 class="uk-h1 uk-text-uppercase">Blog</h1>
    
    <hr class="uk-divider-small">

    <p class="uk-text-lead uk-margin-medium-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. You can also take a look through our range of blind videos on YouTube – <a href="#">click here to visit our YouTube Channel.</a></p>
    
  </div>
</div>
<!-- /HERO -->