<div id="ProductMain" uk-grid="masonry: true">

  {% include 'product-gallery-main.twig' %}

  {% include 'product-description.twig' %}

  {% include 'additional-info.twig' %}

  {% include 'fabrics-gallery.twig' %}

  {% include 'colours-gallery.twig' %}

  {% include 'contact-info.twig' %}

</div>