<section id="ProductFabricsGalleryBlock" class="uk-width-1-2@s">
  <div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
      <h3>Available Fabrics</h3>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("#lightgallery-fabrics").lightGallery();
      });
    </script>
    <div id="lightgallery-fabrics" class="uk-card-body uk-grid-small uk-child-width-1-4" uk-grid>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Captivate_-_Charcoal.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Captivate_-_Charcoal.jpg" alt="" height="124" width="124" uk-img>
      </a>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Chevron_-_Mocha.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Chevron_-_Mocha.jpg" alt="" height="124" width="124" uk-img>
      </a>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Beacon_-_Hydra.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Beacon_-_Hydra.jpg" alt="" height="124" width="124" uk-img>
      </a>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Artiste_-_Naturalle.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Artiste_-_Naturalle.jpg" alt="" height="124" width="124" uk-img>
      </a>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Captivate_-_Naturalle.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Captivate_-_Naturalle.jpg" alt="" height="124" width="124" uk-img>
      </a>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Chevron_-_Steel.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Chevron_-_Steel.jpg" alt="" height="124" width="124" uk-img>
      </a>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Artiste_-_Flame.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Artiste_-_Flame.jpg" alt="" height="124" width="124" uk-img>
      </a>
      <a href="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Artiste_-_Stone.jpg">
        <img data-src="/wp-content/themes/solaris-theme/assets/img/fabrics/Resene_Artiste_-_Stone.jpg" alt="" height="124" width="124" uk-img>
      </a>
    </div>
    <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text">View more of our Fabrics<span uk-icon="chevron-right"></span></a>
    </div>
  </div>
</section>