<section id="ProductAdditionalInfoBlock" class="uk-width-1-2@s">
  <div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
      <h3>Additional Information</h3>
    </div>
    <div class="uk-card-body">
      <p class="uk-text-lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      </p>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
    <div class="uk-card-footer">
      <a href="/about" class="uk-button uk-button-text">More about {{ SiteTitle }}</a><span uk-icon="chevron-right"></span>
    </div>
  </div>
</section>