<section id="ProductColoursGalleryBlock" class="uk-width-1-2@s">
  <div class="uk-card uk-card-small uk-card-default">
    <div class="uk-card-header">
      <h3>Available Colours</h3>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("#lightgallery-colours").lightGallery();
      });
    </script>
    <div id="lightgallery-colours" class="uk-card-body uk-grid-small uk-child-width-1-5 colour-block" uk-grid>
      <a href="assets\img\michael\colours\01-Colour[Red].jpg">
        <img data-src="assets\img\michael\colours\01-Colour[Red].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\02-Colour[Grey].jpg">
        <img data-src="assets\img\michael\colours\02-Colour[Grey].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\03-Colour[Lilac].jpg">
        <img data-src="assets\img\michael\colours\03-Colour[Lilac].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\04-Colour[Green].jpg">
        <img data-src="assets\img\michael\colours\04-Colour[Green].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\05-Colour[LightGrey].jpg">
        <img data-src="assets\img\michael\colours\05-Colour[LightGrey].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\06-Colour[MutedGrey].jpg">
        <img data-src="assets\img\michael\colours\06-Colour[MutedGrey].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\07-Colour[Cream].jpg">
        <img data-src="assets\img\michael\colours\07-Colour[Cream].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\08-Colour[Rust].jpg">
        <img data-src="assets\img\michael\colours\08-Colour[Rust].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\09-Colour[Blue].jpg">
        <img data-src="assets\img\michael\colours\09-Colour[Blue].jpg" alt="" height="92" width="92" uk-img>
      </a>
      <a href="assets\img\michael\colours\10-Colour[Beige].jpg">
        <img data-src="assets\img\michael\colours\10-Colour[Beige].jpg" alt="" height="92" width="92" uk-img>
      </a>
    </div>
    <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text">View more of our Colours<span uk-icon="chevron-right"></span></a>
    </div>
  </div>
</section>