<div id="ProductEnquiryModalLeft" class="uk-background-cover uk-padding-large" style="background-image: url('/wp-content/themes/solaris-theme/assets/img/map.jpg');" uk-height-viewport>
  <a class="uk-logo uk-float-right" title="Logo" href="/"><img src="{{ SiteLogo }}" alt="Logo"></a>
  <h1 class="uk-text-primary uk-margin-remove-top">We're Open</h1>
  <p class="uk-text-lead">Mon - Sat, 10:00am - 5.30pm</p>
  <div class="uk-margin-medium-top" uk-grid>
    <div class="uk-width-auto@m">
      <h3 class="uk-text-primary">Our Store:</h3>
      <ul class="uk-list">
        <li>Mullingar Business Park</li>
        <li>Mllingar</li>
        <li>Co. Westmeath</li>
      </ul>
    </div>
  </div>
</div>