<section id="ProductDescriptionBlock" class="uk-width-1-2@s">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <h2 class="uk-margin-remove">About this Product</h2>
        </div>

        <div class="uk-navbar-right">
          <span uk-icon="question" uk-tooltip="We guarantee 100% customer satisfaction"></span>
        </div>
      </nav>
    </div>
    <div class="uk-card-body">
      <div class="description-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        <ul class="uk-list uk-list-bullet">
          <li>Sed ut perspiciatis unde omnis</li>
          <li>Ut enim ad minima veniam quis nostrum exercitationem</li>
          <li>Excepteur sint occaecat cupidatat non proident</li>
        </ul>
      </div>
      <div class="description-data-block">
        <ul class="uk-list uk-list-divider">
          <li><span class="uk-text-bold uk-text-emphasis">Brand:</span><a href="/archive" class="uk-link-muted"> Adipiscing</a></li>
          <li><span class="uk-text-bold uk-text-emphasis">Colours:</span><a href="/archive" class="uk-link-muted"> Red</a>, <a href="/archive" class="uk-link-muted"> Blue</a>, <a href="/archive" class="uk-link-muted"> Green</a>, <a href="/archive" class="uk-link-muted"> Light Blue</a></li>
          <li><span class="uk-text-bold uk-text-emphasis">Fabrics:</span><a href="/archive" class="uk-link-muted"> Ribbon</a>, <a href="/archive" class="uk-link-muted">Cotton</a>, <a href="/archive" class="uk-link-muted">Satin</a></li>
          <li><span class="uk-text-bold uk-text-emphasis">Tags:</span><a href="/archive" class="uk-link-muted"> 2019</a>, <a href="/archive" class="uk-link-muted">Modern</a></li>
          <li><span class="uk-text-bold uk-text-emphasis">Category:</span><a href="/archive" class="uk-link-muted"> Blinds</a></li>
        </ul>
        <p class="uk-text-large uk-text-secondary uk-text-bold">€40 to €59</p>
      </div>
      
      {% include 'product-enquiry.twig' %}
      
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/contact" class="uk-button uk-button-text">Contact us</a>
        </div>

        <div class="uk-navbar-right rmcc-circle-share">
          Share:
          <a href="#"><span class="uk-margin-small-left uk-margin-small-right" uk-icon="facebook"></span></a>
          <a href="#"><span class="uk-margin-small-right" uk-icon="twitter"></span></a>
          <a href="#"><span class="uk-margin-small-right" uk-icon="linkedin"></span></a>
          <a href="#"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</section>