<section id="ProductMainGalleryBlock" class="uk-width-1-2@s">
  <div class="uk-card uk-card-body uk-card-small uk-padding-remove">
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("#lightgallery").lightGallery();
      });
    </script>

    <div id="lightgallery" class="uk-grid-small" uk-grid>
      <a class="uk-width-1-1" href="assets\img\michael\light-gallery\01.1.jpg">
        <img data-src="assets\img\michael\light-gallery\01.2-[LgThumb].jpg" width="580" height="387" alt="" uk-img></a>

      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\02.1.jpg">
        <img data-src="assets\img\michael\light-gallery\02.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\03.1.jpg">
        <img data-src="assets\img\michael\light-gallery\03.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\04.1.jpg">
        <img data-src="assets\img\michael\light-gallery\04.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\05.1.jpg">
        <img data-src="assets\img\michael\light-gallery\05.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\06.1.jpg">
        <img data-src="assets\img\michael\light-gallery\06.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\07.1.jpg">
        <img data-src="assets\img\michael\light-gallery\07.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\08.1.jpg">
        <img data-src="assets\img\michael\light-gallery\08.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\09.1.jpg">
        <img data-src="assets\img\michael\light-gallery\09.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
      <a class="uk-width-1-3" href="assets\img\michael\light-gallery\10.1.jpg">
        <img data-src="assets\img\michael\light-gallery\10.3-[SmThumb].jpg" width="183" height="122" alt="" uk-img></a>
    </div>
  </div>
</section>