<div id="ModalFullSplit" class="uk-modal-full" uk-modal>

  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
      
      {% include 'product-modal-left.twig' %}
      
      {% include 'product-modal-right.twig' %}

    </div>
  </div>
  
</div>