<div id="ProductEnquiryModal" class="description-buttons-block">
  
  <a class="uk-button uk-button-default uk-width-expand uk-margin-small-bottom" href="#modal-center" uk-toggle>More Info</a>
  
  {% include 'product-modal-info.twig' %}
  
  <a class="uk-button uk-button-primary uk-width-expand uk-visible@s" href="#ModalFullSplit" uk-toggle>Enquire about this Product</a>
  <a class="uk-button uk-button-primary uk-width-expand uk-hidden@s" href="tel:0872311300">Free Phone Enquiry</a>
  
  {% include 'product-modal.twig' %}


</div>