<div id="ProductEnquiryModalRight" class="wrap-dark">
  <div class="uk-section uk-flex uk-flex-center uk-flex-middle uk-padding-large uk-padding-remove-vertical uk-light" style="background-image: url('/wp-content/themes/solaris-theme/assets/img/blinds-chairs.jpg');background-position:center;background-size:cover;background-repeat:no-repeat;" uk-height-viewport>
    <div class="blah uk-position-z-index">
      <h1>Contact us</h1>
      <p>Send us your queries at</p>
      <a href="">{{ SiteEmail }}</a>
      <p>You can also Freephone us on:</p>
      <a href="">{{ SiteNumber }}</a>
      {% include 'product-modal-form.twig' %}
    </div>
  </div>
</div>