<!-- BLOCK2 -->
<div class="uk-section uk-section-muted uk-padding-remove-top">
  <div class="rmcc-content-block-right uk-position-relative">
    <div class="uk-container uk-container-large">
      <div class="uk-child-width-1-2@m uk-flex-middle uk-grid-large" uk-grid>
        <div>
          <img class="uk-position-z-index uk-position-relative rmcc-box-shadow-left uk-height-max-large rmcc-object-fit" data-src="assets/img/curtains/curtains6.jpg" width="715" height="400" alt="" uk-img>
        </div>
        <div>
          <div id="LaminateShutters" class="content uk-position-relative uk-position-z-index">
            <h2 class="uk-text-uppercase"><span>Laminate Shutters</span></h2>
            <hr class="uk-divider-small">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="uk-button uk-button-primary uk-button-large">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /BLOCK2 -->