<!-- HERO -->
<div class="uk-section uk-section-small uk-background-center-center uk-position-relative uk-background-cover uk-light uk-background-fixed purple-wrap-blur" style="background-image: url(/assets/img/blinds-chairs.jpg);">
  <div class="uk-position-z-index uk-position-relative uk-container uk-text-center">
    <h1 class="uk-h1 uk-text-uppercase">Blinds</h1>
    
    <hr class="uk-divider-small">

    <p class="uk-text-lead uk-margin-medium-bottom">Combining fabrics with designer specs to create the perfect product for your home or business. Specialists in Conservatory roof blinds and Window Blinds & much more, Solaris gives you all the shading solutions.</p>
    <script type="text/javascript">
      

      
      jQuery(document).ready(function() {
        jQuery('#lightGallery').lightGallery();
        thumbnail:true;
        subHtmlSelectorRelative: true;
            hash: true;
        jQuery('#launchGallery').click(function(){
            jQuery('#firstImage').trigger('click');
        })
      });
      
      
    </script>
    
    <button id="launchGallery" type="button" class="uk-button uk-button-primary uk-button-large uk-margin-medium-bottom">View Gallery</button>

    <div id="lightGallery" hidden>
      <a id="firstImage" href="assets\img\blinds\blinds1.jpg" data-sub-html=".caption1">
        <img src="assets\img\blinds\blinds1.jpg" />
        <div class="caption1">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Conservatory Blinds</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\blinds\blinds2.jpg" data-sub-html=".caption2">
        <img src="assets\img\blinds\blinds2.jpg" />
        <div class="caption2">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Day & Night</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\blinds\blinds3.jpg" data-sub-html=".caption3">
        <img src="assets\img\blinds\blinds3.jpg" />
        <div class="caption3">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Pleated blinds</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\blinds\blinds4.jpg" data-sub-html=".caption4">
        <img src="assets\img\blinds\blinds4.jpg" />
        <div class="caption4">
          <h4 class="uk-light rmcc-white-text uk-margin-remove-bottom">Roller blinds</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\blinds\blinds5.jpg" data-sub-html=".caption5">
        <img src="assets\img\blinds\blinds5.jpg" />
        <div class="caption5">
          <h5 class="uk-light rmcc-white-text uk-margin-remove-bottom">Roller blinds</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\blinds\blinds6.jpg" data-sub-html=".caption6">
        <img src="assets\img\blinds\blinds6.jpg" />
        <div class="caption6">
          <h6 class="uk-light rmcc-white-text uk-margin-remove-bottom">Electric blinds</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
    </div>
    
  </div>
  <div class="uk-position-z-index uk-container uk-position-bottom-center uk-margin-small-bottom uk-visible@m">
    <ul class="uk-subnav uk-subnav-divider" uk-margin>
        <li><a href="#ConservatoryBlinds" class="uk-text-uppercase" uk-scroll="offset:200">Conservatory</a></li>
        <li><a href="#DayNight" class="uk-text-uppercase" uk-scroll="offset:200">Day & Night</a></li>
        <li><a href="#PleatedBlinds" class="uk-text-uppercase" uk-scroll="offset:200">Pleated</a></li>
        <li><a href="#RollerBlinds" class="uk-text-uppercase" uk-scroll="offset:200">Roller</a></li>
        <li><a href="#RomanBlinds" class="uk-text-uppercase" uk-scroll="offset:200">Roman</a></li>
        <li><a href="#MotorElectricCTA" class="uk-text-uppercase" uk-scroll="offset:200">Electric</a></li>
        <li><a href="#SkylightBlinds" class="uk-text-uppercase" uk-scroll="offset:200">Skylight</a></li>
        <li><a href="#VenetianBlinds" class="uk-text-uppercase" uk-scroll="offset:200">Venetian</a></li>
        <li><a href="#VerticalBlinds" class="uk-text-uppercase" uk-scroll="offset:200">VerticalL</a></li>
        <li><a href="#WoodenBlinds" class="uk-text-uppercase" uk-scroll="offset:200">Wooden</a></li>
    </ul>
  </div>
</div>
<!-- /HERO -->