{% extends "base.twig" %}

{% block html_header %}

{% include 'html-head-lg.twig' %}

{% endblock %}

{% block content %}

{% include 'blinds-cover.twig' %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" data-uk-lightbox="toggle:a.uk-position-cover">
  
  {% include 'cons.twig' %}
  
  {% include 'day.twig' %}
  
  {% include 'pleat.twig' %}
  
  {% include 'roller.twig' %}
  
  {% include 'roman.twig' %}
  
  {% include 'skylight.twig' %}
  
  {% include 'colours-fabrics.twig' %}

  {% include 'remote.twig' %}
  
  {% include 'venetian.twig' %}
  
  {% include 'vertical.twig' %}
  
  {% include 'wood.twig' %}
  
</main>
<!-- /MAIN CONTENT -->

{% endblock %}

{% block footer_block %}

{% include 'footer.twig' %}

{% endblock %}