<!-- BLOCK3 -->
<div class="uk-section uk-section-muted uk-padding-remove-top">
  <div class="rmcc-content-block-left uk-position-relative">
    <div class="uk-container uk-container-large">
        <div class="uk-child-width-1-2@m uk-flex-middle uk-grid-large" uk-grid>
          <div>
            <div class="uk-position-relative uk-visible-toggle uk-light rmcc-box-shadow-right" tabindex="-1" uk-slider>
            
              <ul class="uk-slider-items uk-child-width-1-2">
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/wp-content/themes/solaris-theme/assets/img/blinds/blinds3.jpg" alt="" uk-img>
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/wp-content/themes/solaris-theme/assets/img/blinds/blinds6.jpg" alt="" uk-img>
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/wp-content/themes/solaris-theme/assets/img/blinds/blinds7.jpg" alt="" uk-img>
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/wp-content/themes/solaris-theme/assets/img/blinds/blinds9.jpg" alt="" uk-img>
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel">
                          <img class="uk-height-max-large rmcc-object-fit" src="/wp-content/themes/solaris-theme/assets/img/blinds/blinds12.jpg" alt="" uk-img>
                      </div>
                  </li>
              </ul>
            
                <a class="uk-position-center-left uk-position-small rmcc-nav-bg uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small rmcc-nav-bg uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                
            </div>
          </div>
          <div class="uk-flex-first@s">
            <div id="PleatedBlinds" class="content uk-position-relative uk-position-z-index">
              <h2 class="uk-text-uppercase"><span>Pleated Blinds</span></h2>
              <hr class="uk-divider-small">
              <p>With a full range of colours and patterns to choose from, pleated blinds glide and fold during operation allowing for excellent light and privacy control.</p>
              <a href="/wp-content/themes/solaris-theme/conservatory-blinds" class="uk-button uk-button-primary uk-button-large">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- /BLOCK3 -->