<!-- BLOCK7 -->
<div class="uk-section uk-section-muted">
  <div class="rmcc-content-block-right uk-position-relative">
    <div class="uk-container uk-container-large">
      <div class="uk-child-width-1-2@m uk-flex-middle uk-grid-large" uk-grid>
        <div>
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <img class="uk-position-z-index rmcc-box-shadow-right uk-height-max-large rmcc-object-fit" data-src="/wp-content/themes/solaris-theme/assets/img/blinds/blinds10.jpg" width="715" height="400" alt="Venetian Blinds" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: search; ratio: 1.3"></span>
              </div>
            </div>
            <a data-caption="Venetian Blinds" href="/wp-content/themes/solaris-theme/assets/img/blinds/blinds10.jpg" class="uk-position-cover"></a>
          </div>
        </div>
        <div>
          <div id="VenetianBlinds" class="content uk-position-relative uk-position-z-index">
            <h2 class="uk-text-uppercase"><span>venetian Blinds</span></h2>
            <hr class="uk-divider-small">
            <p>We stock Bespoke aluminium Venetian blinds in 100′s of colours with special finishes, such as High mirror, Metallic colours & Aluwood designs. Our Venetian Blinds are suitable for both contemporary & Traditional homes.</p>
            <a href="/wp-content/themes/solaris-theme/conservatory-blinds">Find out more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /BLOCK7 -->