<div id="ProductHeader" uk-grid>

  <section id="ProductBreadsBlock" class="uk-width-1-1@s">
    <div class="rmcc-padding-top5">
      <a href="#" class="uk-text-bold">Home</a><span class="uk-margin-small-left uk-margin-small-right" uk-icon="chevron-right"></span><span>Contact us</span>
    </div>
  </section>

  <section id="ProductTitleBlock" class="uk-width-1-1 rmcc-margin-top30">
    <h1>Contact us</h1>
  </section>

</div>