<section id="ContactPageForm" class="uk-width-1-2@s">
  <div class="uk-card uk-card-small uk-card-default">
      <div class="uk-card-header">
        <h3>Contact us</h3>
      </div>
      <div class="uk-card-body">
        
        <form id="ContactPageForm" class="uk-grid-small" uk-grid>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label uk-text-bold" for="form-s-text">Name<span class="rmcc-required">*</span></label>
              <input class="uk-input uk-box-shadow-small" id="form-s-text" type="text" placeholder="Your Name..." required>
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label uk-text-bold" for="form-s-text">Email<span class="rmcc-required">*</span></label>
              <input class="uk-input uk-box-shadow-small" id="form-s-email" type="email" placeholder="Your email address..." required>
            </div>
            <div class="uk-width-1-1">
              <label class="uk-form-label uk-text-bold" for="form-s-text">Phone<span class="rmcc-required">*</span></label>
              <input class="uk-input uk-box-shadow-small" id="form-s-tel" type="tel" placeholder="Your phone number..." required>
            </div>
            <div class="uk-width-1-1">
              <label class="uk-form-label uk-text-bold" for="form-s-text">Your Message<span class="rmcc-required">*</span></label>
              <textarea class="uk-textarea uk-box-shadow-small" id="form-s-textarea" rows="8" placeholder="Your Message or Enquiry..." required></textarea>
            </div>
            <div class="uk-width-1-1">
              <button class="uk-button uk-button-primary">Submit</button>
              <button class="uk-button uk-button-default" type="reset" value="Reset">Clear</button>
              <button class="uk-button uk-button-danger uk-float-right uk-visible@s">Required</button>
            </div>
        </form>

      </div>
  </div>
</section>