{#
/**
 * Block Name: Cover block
 *
 * This is the template that displays the cover block.
 */
#}

{% if is_preview %}
<link rel='stylesheet' id='uikit-css'  href='http://solarisblinds.wp/wp-content/themes/solaris-theme/assets/css/base.css' type='text/css' media='all' />
<script type='text/javascript' src='http://solarisblinds.wp/wp-content/themes/solaris-theme/assets/js/bundles/bundle.js'></script>
{% endif %}

<div id="cta-{{ block.id }}" class="uk-background-muted uk-padding-large uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right">

  <!-- REMOTE / MOTORISATION CTA -->
  <div id="MotorElectricCTA" class="uk-section uk-section-primary uk-background-center-center uk-position-relative uk-background-cover uk-background-fixed uk-light purple-wrap-blur rmcc-box-shadow-large" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/blinds-chairs.jpg);">
      <div class="uk-container uk-position-z-index uk-position-relative uk-text-center">

        <h2 class="uk-h1 uk-text-uppercase">Remote Control & Motorisation</h2>
        
        <hr class="uk-divider-small">

        <p class="uk-text-lead uk-margin-medium-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
        <a href="/electric-blinds" class="uk-button uk-button-primary uk-button-large">View our Electric Blinds</a>

      </div>
  </div>
  <!-- /REMOTE / MOTORISATION CTA -->

</div>