<div id="FooterMainWidgetOne" class="uk-width-1-4@m">
  <h4 class="">Main Menu</h4>
  <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
    <li><a href="/">Home</a></li>
    <li class="uk-nav-divider"></li>
    <li><a href="/about">About us</a></li>
    <li class="uk-nav-divider"></li>
    <li class="uk-parent">
      <a href="#">Have a look at our...</a>
      <ul class="uk-nav-sub">
        <li><a href="/blinds">Blinds</a></li>
        <li><a href="/curtains">Curtains</a></li>
        <li><a href="/shutters">Shutters</a></li>
      </ul>
    </li>
    <li class="uk-nav-divider"></li>
    <li><a href="/gallery">Gallery</a></li>
    <li class="uk-nav-divider"></li>
    <li><a href="/contact">Contact us</a></li>
    <li class="uk-nav-divider"></li>
  </ul>
</div>