<div id="FooterMainWidgetFour" class="uk-width-1-4@m">
  <h4 class="">Keep in Touch</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
  <form>
    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <input class="uk-input" type="text" placeholder="Your Email">
        <button class="uk-button uk-button-primary uk-button-small rmcc-newsletter-submit-btn uk-border-rounded">Go</button>
        <div class="gdpr_checkbox uk-margin-small-top	">
          <label><input class="uk-checkbox" type="checkbox"> Accept GDPR Terms</label>
        </div>
      </div>
    </div>
  </form>
</div>