<section id="FooterBottom" class="uk-section uk-section-muted uk-section-xsmall">
  <div class="uk-container uk-container-large">
    <div class="uk-grid-collapse" uk-grid>
      <div id="FooterBottomLeft" class="uk-width-1-2@m uk-text-small uk-text-center uk-text-left@s">
        <p>© Copyright 2019 - <span class="uk-text-bold uk-text-emphasis">{{ SiteTitle }}</span></p>
      </div>
      <div id="FooterBottomRight" class="uk-width-1-2@m uk-text-small uk-text-center uk-text-right@s">
        <p>{{ SiteCopyright|raw }}</p>
      </div>
    </div>
  </div>
</section>