<section id="FooterMain" class="uk-section uk-section-default rmcc-border-top-bottom">
  <div class="uk-container uk-container-large">
    <div uk-grid>
      {% include 'footer-widget1.twig' %}
      {% include 'footer-widget2.twig' %}
      {% include 'footer-widget3.twig' %}
      {% include 'footer-widget4.twig' %}
    </div>
  </div>
</section>