<div id="FooterMainWidgetThree" class="uk-width-1-4@m">
  <h4 class="">Here to help</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <a href="/wp-content/themes/solaris-theme/contact">eiusmod tempor</a></p>
</div>