<section id="FooterBottom" class="uk-section uk-section-muted uk-section-xsmall">
  <div class="uk-container uk-container-large">
    <div class="uk-grid-collapse" uk-grid>
      <div id="FooterBottomLeft" class="uk-width-1-2@m uk-text-small uk-text-center uk-text-left@s">
        {%- spaceless -%}
        {% if footer_bottom_left %}
        	{{footer_bottom_left}}
        {% else %}
        	Footer Bottom Left Widget Area.
        {% endif %}
        {%- endspaceless -%}
      </div>
      <div id="FooterBottomRight" class="uk-width-1-2@m uk-text-small uk-text-center uk-text-right@s">
        {%- spaceless -%}
        {% if footer_bottom_right %}
        	{{footer_bottom_right}}
        {% else %}
        	Footer Bottom Right Widget Area.
        {% endif %}
        {%- endspaceless -%}
      </div>
    </div>
  </div>
</section>