<div class="nav-overlay uk-navbar-right uk-flex-1" hidden>
  <div id="AjaxSearchForm" class="uk-navbar-item uk-width-expand">
    <form class="uk-search uk-search-navbar uk-width-1-1" role="search" method="post" action="{{site.url}}">
      <input class="uk-search-input" type="text" placeholder="Search for anything..." id="Search" name="s" autocomplete="off">
      <div uk-drop="mode: click;offset: -2;pos: bottom-justify">
        <div class="uk-card uk-card-body uk-card-default uk-card-small">
          <div id="content">
            <div id="quicklinks">
              <h4 class="uk-card-title uk-text-bold">Quick Links</h4>
              <ul class="uk-list uk-margin-remove-bottom">
                <li><a href="/blinds">Blinds</a></li>
                <li><a href="/curtains">Curtains</a></li>
                <li><a href="/shutters">Shutters</a></li>
                <li><a href="/electric-blinds">Electric Blinds</a></li>
              </ul>
            </div>
            <div id="results">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
</div>