<h3 class="western">What we collect</h3>
<p>We collect and process the following personal information from you</p>
<h3 class="western">Information you give to us</h3>
<p>In order to keep secure backups of your contact details, should you contact us using our contact form, we collect the following data:</p>
<ul>
  <li>Your Name</li>
  <li>Your Email</li>
</ul>
<h3 class="western">Information we collect automatically</h3>
<p>We will automatically collect information from you each time you visit our site. This includes technical information, information about your visit, and information about your activity on our site such as anonymized statistics of
  session
  length, page response times, download errors. This information is anonymised, and then shared with, the google analytics suite. This is to help us improve your experience.</p>
<h3 class="western">Contact Forms</h3>
<p>When you submit messages via our contact forms, we save your email, name, and message. If you would like us to delete correspondence, please get in touch in the form below.</p>
<h3 class="western">Cookies</h3>
<p>If you leave a comment on our site you may opt-in to us saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These
  cookies will last for one year.</p>
<p>If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
<p>When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login
  will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>
<h3 class="western">Who we share your data with</h3>
<p>Your data is stored on our secure database on our web hosting package, which is run by HOST. This is the only third party with any access to site data.</p>
<h3 class="western">How long we store your data</h3>
<p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.</p>
<p>Should you contact us through the on site contact form, we will retain your data for 6 years for administrative purposes.</p>
<h3 class="western">What rights you have over your data</h3>
<p>If you have an account on this site or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal
  data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes. If you would like to delete your data, please get in touch through the form below.</p>
<h3 class="western">Who on our team has access</h3>
<p>Members of our team have access to the information you provide us. For example, site administrators can view your email, name and messages to us from the websites contact forms.</p>
<h3 class="western">Requesting your data</h3>
<p>If you would like a copy of your data, or to request any data we have stored on you to be erased, please get in touch.</p>