<div id="PortfolioCover" class="uk-section uk-section-small uk-background-fixed uk-background-center-center uk-position-relative uk-background-cover uk-light cover-wrap" style="background-image: url(/assets/img/blinds-chairs.jpg);">
  <div class="uk-position-z-index uk-position-relative uk-container uk-text-center">
    <h1>Blinds</h1>
    <div class="uk-margin-auto">
      <p class="uk-text-lead rmcc-light-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
    </div>
  </div>
  <!-- <div class="uk-position-z-index uk-container uk-position-bottom-center uk-margin-small-bottom uk-visible@m">
    <ul class="uk-subnav uk-subnav-divider" uk-margin>
        <li><a href="#ProductDescriptionBlock" uk-scroll>Electrical</a></li>
        <li><a href="#ProductAdditionalInfoBlock" uk-scroll>Motoroized</a></li>
        <li><a href="#ProductDescriptionBlock" uk-scroll>Modern</a></li>
        <li><a href="#ProductFabricsGalleryBlock" uk-scroll>Fabrics</a></li>
        <li><a href="#ProductColoursGalleryBlock" uk-scroll>Colours</a></li>
        <li><a href="#ProductContactInfoBlock" uk-scroll>Contact us</a></li>
    </ul>
  </div> -->
</div>