{% extends "base.twig" %}

{% block content %}

{% include 'archive-cover.twig' %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-xsmall uk-section-muted">
  <div id="ArchiveProductsWrap" class="uk-container uk-container-large uk-margin-large-bottom">
    
    <!-- {% include 'archive-header.twig' %} -->

    {% include 'archive-main.twig' %}

  </div>
</main>
<!-- /MAIN CONTENT -->

{% endblock %}