<aside id="ArchiveProductsLeftSidebar" class="uk-width-1-4@m">
  
  <h2>Filters:</h2>
  
  <div class="uk-card uk-card-body uk-card-default uk-card-small uk-margin-medium-bottom">
    <form>
      <div class="uk-form-controls uk-form-controls-text">
        <label class="uk-text-bold uk-text-emphasis"><input class="uk-radio" type="radio" name="radio1" uk-filter-control> All / Reset Filters</label>
      </div>
    </form>
  </div>
  
  <div id="ArchiveProductsFilterWidget2" class="uk-card uk-padding-remove uk-card-body uk-card-default uk-margin-medium-bottom">
    <ul uk-accordion>
      <li class="uk-open">
        <a class="uk-accordion-title uk-padding-small rmcc-border-bottom rmcc-lato-bolder" href="#">Categories</a>
        <div class="uk-accordion-content uk-padding-small uk-margin-remove-top">
          <form>
            <div class="uk-margin uk-form-controls uk-form-controls-text">
              <div>
              <label><input class="uk-radio" type="radio" name="radio1" uk-filter-control="filter: [data-cat='blind']; group: data-cat"> Blinds</label><br>
              <label><input class="uk-radio" type="radio" name="radio2" uk-filter-control="filter: [data-cat='curtain']; group: data-cat"> Curtains</label><br>
              <label><input class="uk-radio" type="radio" name="radio3" uk-filter-control="filter: [data-cat='shutter']; group: data-cat"> Shutters</label><br>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <div id="ArchiveProductsFilterWidget3" class="uk-card uk-padding-remove uk-card-body uk-card-default uk-margin-medium-bottom">
    <ul uk-accordion>
      <li>
        <a class="uk-accordion-title uk-padding-small rmcc-border-bottom rmcc-lato-bolder" href="#">Colours</a>
        <div class="uk-accordion-content uk-padding-small uk-margin-remove-top">
          <form>
            <div class="uk-margin uk-form-controls uk-form-controls-text">
              <div>
              <label><input class="uk-radio" type="radio" name="radio1" uk-filter-control="filter: [data-color='red']; group: data-color"> Red</label><br>
              <label><input class="uk-radio" type="radio" name="radio2" uk-filter-control="filter: [data-color='dark-grey']; group: data-color"> Dark Grey</label><br>
              <label><input class="uk-radio" type="radio" name="radio3" uk-filter-control="filter: [data-color='lilac']; group: data-color"> Lilac</label><br>
              <label><input class="uk-radio" type="radio" name="radio2" uk-filter-control="filter: [data-color='cream']; group: data-color"> Cream</label><br>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  
  <div id="ArchiveProductsFilterWidget4" class="uk-card uk-padding-remove uk-card-body uk-card-default">
    <ul uk-accordion>
      <li>
        <a class="uk-accordion-title uk-padding-small rmcc-border-bottom rmcc-lato-bolder" href="#">Fabric / Material</a>
        <div class="uk-accordion-content uk-padding-small uk-margin-remove-top">
          <form>
            <div class="uk-margin uk-form-controls uk-form-controls-text">
              <div>
              <label><input class="uk-radio" type="radio" name="radio1" uk-filter-control="filter: [data-fabric='voile']; group: data-fabric"> Voile</label><br>
              <label><input class="uk-radio" type="radio" name="radio2" uk-filter-control="filter: [data-fabric='polyester']; group: data-fabric"> Polyester</label><br>
              <label><input class="uk-radio" type="radio" name="radio3" uk-filter-control="filter: [data-fabric='sprung']; group: data-fabric"> Sprung</label><br>
              <label><input class="uk-radio" type="radio" name="radio2" uk-filter-control="filter: [data-fabric='wood']; group: data-fabric"> Wood</label><br>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  


</aside>
