<div id="ProductHeader" class="" uk-grid>

  <section id="ProductBreadsBlock" class="uk-width-1-1">
    <div class="rmcc-padding-top5">
      <a href="#" class="uk-text-bold">Home</a><span class="uk-margin-small-left uk-margin-small-right" uk-icon="chevron-right"></span>This is the Product Archive
    </div>
  </section>

  <section id="ProductTitleBlock" class="uk-width-1-1 rmcc-margin-top30">
    <h1>Product Archive</h1>
  </section>

</div>