<div class="uk-navbar-dropdown rmcc-mega-menu">
  
  <ul class="uk-nav uk-navbar-dropdown-nav">

    <h3 class="uk-margin-remove-bottom">About us</h3>
    
    <hr class="uk-margin-small">

    <div class="uk-grid-small uk-child-width-1-5@m" uk-grid>
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/about/company">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/curtains/curtains1.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/about/company" class="uk-link-text rmcc-mega-menu-item-title">About our Company</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/about/products">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/curtains/curtains2.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/about/products" class="uk-link-text rmcc-mega-menu-item-title">About our Products</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/about/prices">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/curtains/curtains4.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/about/prices" class="uk-link-text rmcc-mega-menu-item-title">Price Guide</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/about/faqs">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/curtains/curtains5.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/about/faqs" class="uk-link-text rmcc-mega-menu-item-title">FAQs</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/about/installation">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/curtains/curtains8.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/about/installation" class="uk-link-text rmcc-mega-menu-item-title">Installation Service</a>
        </div>
      </div>
      <!-- item -->
    
    </div>

  </ul>
  
</div>