<section id="HeaderBottom" class="uk-visible@m uk-background-default rmcc-border-top-bottom" uk-sticky="animation: uk-animation-slide-top">
  <div class="uk-container uk-container-large">
    
    {% include 'main-menu.twig' %}

  </div>
</section>