<div class="uk-navbar-dropdown rmcc-mega-menu">
  
  <ul class="uk-nav uk-navbar-dropdown-nav">

    <h3 class="uk-margin-remove-bottom"><a href="/wp-content/themes/solaris-theme/shutters" class="uk-link-heading">Shutters - View All</a></h3>
    
    <hr class="uk-margin-small">

    <div class="uk-grid-small uk-child-width-1-5@m" uk-grid>
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/wp-content/themes/solaris-theme/shutters">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/shutters/shutters1.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/wp-content/themes/solaris-theme/shutters" vclass="uk-link-text rmcc-mega-menu-item-title">Wooden</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/wp-content/themes/solaris-theme/shutters">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/shutters/shutters2.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/wp-content/themes/solaris-theme/shutters" class="uk-link-text rmcc-mega-menu-item-title">Laminate</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/wp-content/themes/solaris-theme/shutters">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/shutters/shutters4.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/wp-content/themes/solaris-theme/shutters" class="uk-link-text rmcc-mega-menu-item-title">Metal</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/wp-content/themes/solaris-theme/shutters">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/shutters/shutters5.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/wp-content/themes/solaris-theme/shutters" class="uk-link-text rmcc-mega-menu-item-title">PVC</a>
        </div>
      </div>
      <!-- item -->
      
      <!-- item -->
      <div class="uk-card">
        <div class="uk-card-media-top">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            <a href="/wp-content/themes/solaris-theme/shutters">
            <img class="rmcc-mega-menu-img " data-src="/wp-content/themes/solaris-theme/assets/img/shutters/shutters6.jpg" alt="" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle">
              <div data-uk-margin class="uk-transition-slide-bottom-small">
                <span data-uk-icon="icon: forward; ratio: 1.3"></span>
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="uk-text-center rmcc-mega-menu-item-title-block">
          <a href="/wp-content/themes/solaris-theme/shutters" class="uk-link-text rmcc-mega-menu-item-title">Synthetic</a>
        </div>
      </div>
      <!-- item -->
    
    </div>

  </ul>
  
</div>