<section id="TopBarSection" class="uk-section uk-section-primary uk-section-xsmall rmcc-padding10 uk-light uk-visible@s">
  <div class="uk-container uk-container-large">
    <div class="">
      <div id="TopBarLeft" class="uk-float-left rmcc-margin-pull-left15">
        {%- spaceless -%}
        {% if top_bar_left %}
        	{{top_bar_left}}
        {% else %}
        	TopBar Left Widget Area.
        {% endif %}
        {%- endspaceless -%}
      </div>
      <div id="TopBarRight" class="uk-float-right">
        {%- spaceless -%}
        {% if top_bar_right %}
        	{{top_bar_right}}
        {% else %}
        	TopBar Right Widget Area.
        {% endif %}
        {%- endspaceless -%}
      </div>
    </div>
  </div>
</section>