<section id="TopBarSection" class="uk-section uk-section-primary uk-section-xsmall rmcc-padding10 uk-light uk-visible@s">
  <div class="uk-container uk-container-large">
    <div class="">
      <div class="uk-float-left rmcc-margin-pull-left15">
        <ul class="uk-subnav  uk-margin-remove">
          <li><a href="" uk-icon="icon: facebook"></a></li>
          <li><a href="" uk-icon="icon: twitter"></a></li>
          <li><a href="" uk-icon="icon: google"></a></li>
          <li><a href="" uk-icon="icon: location"></a></li>
        </ul>
      </div>
      <div class="uk-float-right">
        <ul class="uk-subnav uk-subnav-divider uk-margin-remove">
          <li><a href="/">Home</a></li>
          <li><a href="/wp-content/themes/solaris-theme/gallery">Gallery</a></li>
          <li><a href="/wp-content/themes/solaris-theme/video">Video</a></li>
          <li><a href="/wp-content/themes/solaris-theme/contact">Contact</a></li>
          <li><a href="/wp-content/themes/solaris-theme/shop">Shop</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>