{% extends "index.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent">
  <div class="uk-cover-container uk-background-muted uk-height-large uk-flex uk-flex-center uk-flex-middle uk-overflow-hidden" uk-height-viewport>

    <div class="uk-width-xxlarge uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">
      
      <div class="uk-text-center uk-margin">
        <!-- <h2>Search our site</h2> -->
        <div  class="uk-margin">
          <form class="uk-search uk-search-large" role="search" method="get" action="{{site.url}}">
              <span uk-search-icon></span>
              <input class="uk-search-input" type="search"  autocomplete="off" placeholder="Search for anything..." name="s">
              <div uk-drop="mode: click;offset: -2;pos: bottom-justify">
                <div class="uk-card uk-card-body uk-card-default uk-card-small">
                  <h4 class="uk-card-title uk-text-bold">Results</h4>
                  <div  class=""></div>
                </div>
              </div>
          </form>
        </div>
      </div>

    </div>
    
  </div>

</main>
<!-- /MAIN CONTENT -->

{% endblock %}