{% extends "base.twig" %}

{% block content %}

<!-- MAIN CONTENT -->
<main role="main" id="MainContent" class="uk-section uk-section-muted">
  <div class="uk-container uk-container-large">
    <div uk-grid>
      <article id="post-{{post.ID}}" class="uk-article uk-width-3-4@s {{post.class}}">
        <h1 class="uk-article-title uk-text-uppercase"><span>{{ post.title }}</span></h1>
        {% include 'sample-content.twig' %}
      </article>
      {% include 'right-sidebar.twig' %}
    </div>
  </div>
</main>
<!-- /MAIN CONTENT -->

{% endblock %}