<main role="main" id="MainContent" class="uk-section uk-section-small uk-section-muted">
  <div class="uk-container uk-container-large">
    <div id="lightGallery" class="uk-grid uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-match" data-uk-lightbox="toggle:a.uk-position-cover" data-uk-grid="masonry: true">
      
      {% include 'blog-listings.twig' %}
      
    </div>
  </div>
</main>