<!-- BLOCK4 -->
<div class="uk-section uk-section-muted uk-padding-remove-top">
  <div class="rmcc-content-block-right uk-position-relative">
    <div class="uk-container uk-container-large">
      <div class="uk-child-width-1-2@m uk-flex-middle uk-grid-large" uk-grid>
        <div>
          <img class="uk-position-z-index uk-position-relative rmcc-box-shadow-left uk-height-max-large rmcc-object-fit" data-src="/assets/img/curtains/curtains8.jpg" width="715" height="400" alt="" uk-img>
        </div>
        <div>
          <div id="PVCShutters" class="content uk-position-relative uk-position-z-index">
            <h2 class="uk-text-uppercase"><span>PVC Shutters</span></h2>
            <hr class="uk-divider-small">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet <a href="#">commodi consequatur...</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /BLOCK4 -->