<!-- HERO -->
<div class="uk-section uk-section-small uk-background-center-center uk-position-relative uk-background-cover uk-light uk-background-fixed purple-wrap-blur" style="background-image: url(/assets/img/blinds-chairs.jpg);">
  <div class="uk-position-z-index uk-position-relative uk-container uk-text-center">
    <h1 class="uk-h1 uk-text-uppercase">Shutters</h1>
    
    <hr class="uk-divider-small">

    <p class="uk-text-lead uk-margin-medium-bottom">Crafted from the finest wood and toned with colour, our Santa Fe Wooden Shutters are a great feature for any home or Office.</p>
    <script type="text/javascript">
      

      
      jQuery(document).ready(function() {
        jQuery('#lightGallery').lightGallery();
        thumbnail:true;
        subHtmlSelectorRelative: true;
        jQuery('#launchGallery').click(function(){
            jQuery('#firstImage').trigger('click');
        })
      });
      
      
    </script>
    
    <button id="launchGallery" type="button" class="uk-button uk-button-primary uk-button-large uk-margin-medium-bottom">View Gallery</button>
    

    <div id="lightGallery" hidden>
      <a id="firstImage" href="assets\img\shutters\shutters1.jpg" data-sub-html=".caption1">
        <img src="assets\img\shutters\shutters1.jpg" />
        <div class="caption1">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Wooden Shutters</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\shutters\shutters2.jpg" data-sub-html=".caption2">
        <img src="assets\img\shutters\shutters2.jpg" />
        <div class="caption2">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Laminate Shutters</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\shutters\shutters3.jpg" data-sub-html=".caption3">
        <img src="assets\img\shutters\shutters3.jpg" />
        <div class="caption3">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Metal Shutters</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\shutters\shutters4.jpg" data-sub-html=".caption4">
        <img src="assets\img\shutters\shutters4.jpg" />
        <div class="caption4">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">PVC Shutters</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\shutters\shutters5.jpg" data-sub-html=".caption5">
        <img src="assets\img\shutters\shutters5.jpg" />
        <div class="caption5">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Synthetic Shutters</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
      <a href="assets\img\shutters\shutters6.jpg" data-sub-html=".caption6">
        <img src="assets\img\shutters\shutters6.jpg" />
        <div class="caption6">
          <h3 class="uk-light rmcc-white-text uk-margin-remove-bottom">Tailored Pleat Curtains</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
      </a>
    </div>
    
  </div>
  <div class="uk-position-z-index uk-container uk-position-bottom-center uk-margin-small-bottom uk-visible@m">
    <ul class="uk-subnav uk-subnav-divider" uk-margin>
        <li><a href="#WoodenShutters" uk-scroll="offset:200">WOODEN SHUTTERS</a></li>
        <li><a href="#LaminateShutters" uk-scroll="offset:200">LAMINATE SHUTTERS</a></li>
        <li><a href="#MetalShutters" uk-scroll="offset:200">METAL SHUTTERS</a></li>
        <li><a href="#PVCShutters" uk-scroll="offset:200">PVC SHUTTERS</a></li>
        <li><a href="#SyntheticShutters" uk-scroll="offset:200">SYNTHETIC SHUTTERS</a></li>
    </ul>
  </div>
</div>
<!-- /HERO -->