<!-- BLOCK1 -->
<div class="uk-section uk-section-muted">
  <div class="rmcc-content-block-left uk-position-relative">
    <div class="uk-container uk-container-large">
        <div class="uk-child-width-1-2@m uk-flex-middle uk-grid-large uk-flex" uk-grid>
          <div>
            <img class="uk-position-z-index uk-position-relative rmcc-box-shadow-right uk-height-max-large rmcc-object-fit" data-src="/wp-content/themes/solaris-theme/assets/img/curtains/curtains3.jpg" width="715" height="400" alt="" uk-img>
          </div>
          <div class="uk-flex-first@s">
            <div id="WoodenShutters" class="content uk-position-relative uk-position-z-index">
              <h2 class="uk-text-uppercase"><span>Wooden Shutters</span></h2>
              <hr class="uk-divider-small">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <p>Lorem ipsum dolor sit amet <a href="#">commodi consequatur...</a></p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- /BLOCK1 -->