<div class="product-item" data-color="red" data-fabric="voile" data-cat="blind" data-name="roman-blinds">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\01-roman-blind.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Blinds</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Roman Blinds</a>
      </h3>
      <span class="uk-article-meta">Blinds, Voile, Red</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet consectetur</p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€23-€40</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="product-item" data-color="cream" data-fabric="wood" data-cat="shutter" data-name="wooden-shutters">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\02-shutters.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Shutters</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Wooden Shutters</a>
      </h3>
      <span class="uk-article-meta">Shutters, Wooden, Cream</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut labore et dolore magna aliqua</p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€87-€120</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="product-item" data-color="dark-grey" data-fabric="sprung" data-cat="blind" data-name="flyscreens">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\03-flyscreen.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Blinds</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Flyscreens</a>
      </h3>
      <span class="uk-article-meta">Blinds, Sprung, Dark Grey, Flyscreens</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do consectetur</p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€14-€60</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="product-item" data-color="dark-grey" data-fabric="voile" data-cat="blind" data-name="day-night">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\04-day&night.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Blinds</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Day & Night</a>
      </h3>
      <span class="uk-article-meta">Blinds, Voile, Dark Grey, Day & Night</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€40-€90</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="product-item" data-color="lilac" data-fabric="polyester" data-cat="blind" data-name="vertical-blinds">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\05-vertical.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Blinds</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Vertical Blinds</a>
      </h3>
      <span class="uk-article-meta">Blinds, Polyester, Lilac, Vertical</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€13-€55</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="product-item" data-color="cream" data-fabric="voile" data-cat="curtain" data-name="curtains">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\06-curtains.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Curtains</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Curtains</a>
      </h3>
      <span class="uk-article-meta">Curtains, Cream, Voile</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do...</p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€20-€120</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="product-item" data-color="cream" data-fabric="wood" data-cat="blind" data-name="venetian-blinds">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\07-venetian-blind.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Blinds</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Venetian Blinds</a>
      </h3>
      <span class="uk-article-meta">Blinds, Wooden, Cream, Venetian</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet. Ut enim ad minim. Lorem ipsum dolor sit</p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€15-€60</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="product-item" data-color="cream" data-fabric="polyester" data-cat="blind" data-name="roller-blinds">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-media-top">
      <img data-src="assets\img\michael\related-products\08-roller-blind.jpg" width="425" height="212.5" alt="" uk-img>
    </div>
    <div class="uk-card-body">
      <span class="uk-card-badge uk-label">Blinds</span>
      <h3 class="uk-h4 uk-margin-small-top uk-margin-remove-bottom">
        <a class="uk-link-reset" href="/product">Roller Blinds</a>
      </h3>
      <span class="uk-article-meta">Blinds, Polyester, Cream, Rollers</span>
      <p class="uk-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do </p>
      <p class="uk-text-large uk-text-secondary uk-text-bold">€10-€60</p>
    </div>
    <div class="uk-card-footer">
      <nav class="" uk-navbar>
        <div class="uk-navbar-left">
          <a href="/product" class="uk-button uk-button-text">View Item<span uk-icon="arrow-right"></span></a>
        </div>
        <div class="uk-navbar-right">
          <a href="/contact"><span class="uk-margin-small-right" uk-icon="question"></span></a>
          <a href="/contact"><span uk-icon="mail"></span></a>
        </div>
      </nav>
    </div>
  </div>
</div>