<section class="uk-width-1-1@s">
  <div class="uk-card uk-card-default uk-padding-remove uk-card-body">
    <iframe src="{{ options.site_map }}" width="1500" height="400" frameborder="0" style="border:0" allowfullscreen uk-responsive></iframe>
  </div>
</section>