<!-- COLOURS FABRICS -->
<div class="uk-section uk-section-muted uk-padding-remove-top">
  <div class="uk-position-relative">
    <div class="uk-container uk-container-large">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <h2 class="uk-text-uppercase">Fabrics & Colours</h2>
          <hr class="uk-divider-small">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="uk-visible@m">
            <div class="uk-height-medium">
            </div>
          </div>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text uk-text-uppercase">View More <span uk-icon="chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /BLOCK5 -->

<div class="uk-container uk-container-expand fabrics-img-pullup uk-position-relative uk-margin-xlarge-bottom">
  <div class="uk-child-width-1-4@m uk-flex-middle uk-grid" uk-grid>
    <div>
      <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/1.jpg);">
        <div class="uk-position-z-index uk-position-relative uk-text-center">
        <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Crush Fabrics</p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/2.jpg);">
        <div class="uk-position-z-index uk-position-relative uk-text-center">
        <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Basel Perla Fabrics</p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/3.jpg);">
        <div class="uk-position-z-index uk-position-relative uk-text-center">
        <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Plain Fabrics</p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-background-image uk-background-cover uk-background-muted uk-height-medium uk-height-max-medium uk-width-large uk-flex uk-flex-center uk-flex-middle rmcc-box-shadow-small light-wrap uk-position-relative" style="background-image: url(/wp-content/themes/solaris-theme/assets/img/swatches/4.jpg);">
        <div class="uk-position-z-index uk-position-relative uk-text-center">
        <p class="uk-h4 uk-margin-remove uk-light uk-text-uppercase">Coloured Blind Rails</p>
        </div>
      </div>
    </div>
  </div>
</div>