<!-- FREE QUOTATION -->
<div class="rmcc-box-shadow-large-light uk-position-relative uk-position-z-index uk-background-default">
  <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
    <div class="uk-background-cover uk-position-relative uk-light purple-wrap uk-visible@s uk-light" style="background-image: url('/assets/img/blinds-chairs.jpg');height:65vh;">
      <div class="uk-position-z-index uk-position-relative uk-position-center uk-text-center">
        <div class="uk-card uk-card-body rmcc-card-fade">
            <h2 class="uk-h1">{{ SiteNumber }}</h2>
            <p class="uk-text-lead">Freephone us today for a Free quotation or just a chat!</p>
        </div>
      </div>
    </div>
    <div class="uk-padding-large uk-visible@s">
        <h2 class="uk-h1 uk-text-uppercase">Free Quotation</h2>
        <hr class="uk-divider-small">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <a href="#ModalFullSplit" class="uk-button uk-button-primary uk-button-large" uk-toggle>Arrange a Quotation</a>
        {% include 'product-modal.twig' %}{% include 'product-modal.twig' %}
    </div>
    <div class="uk-padding-large uk-hidden@s">
        <h2 class="uk-h1 uk-text-uppercase">Free Quotation</h2>
        <hr class="uk-divider-small">
        <p>For a Free Quotation or Consultation, Freephone us using the Quick Call button below. You can also fill out the form on our <a href="/contact#ContactPageForm">Contact page.</a> </p>
    </div>
  </div>
</div>
<!-- /FREE QUOTATION -->